
<!DOCTYPE html>
<html lang="<%=config.language%>">
<%-partial('partials/head')%>

<body>
  <div class="nav-container">
    <%-partial('partials/nav')%>
  </div>

  <div class="container" id="content-outer">
    <div class="inner" id="content-inner">
      <%- body %>
    </div>

    <% if (page.total > 1){ %>
      <nav class="page-nav text-center">
          <%- paginator({
            prev_text: '〈',
            mid_size: 1,
            next_text: '〉'}) %>
      </nav>
    <% } %>

  </div>
  <%-partial('partials/footer')%>
  <%-partial('partials/scripts')%>
  <%-partial('partials/analytics') %>
  <script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="/js/click_show_text.js"></script>
  <!--动态线条背景-->
  <script type="text/javascript"
  color="220,220,220" opacity='0.7' zIndex="-2" count="200" src="/js/canvas-nest.min.js">
  </script>
</body>
</html>
